<h2 class="section-title">{{ .titles.about }}</h2>

<h1>26th International Symposium on Methodologies for Intelligent Systems, 3rd-5th October 2022</h1>

<p itemprop="description", style="font-weight: bold;">Overview</p>

<p>
  ISMIS is an established and prestigious conference for exchanging the latest research results in building intelligent systems. It provides a basis for exchanging research results and transferring scientific achievements towards industrial applications. The scope of ISMIS is to present a wide range of topics related to the application of Artificial Intelligence techniques related to areas such as decision support, knowledge representation, logical programming, knowledge-based systems, machine learning, planning, computer vision, information retrieval, configuration and diagnosis. The conference also focuses on interdisciplinary research in AI-related fields, for example, decision support systems and human decision making or recommender systems and human personality, and knowledge-based systems development and cognitive aspects of knowledge understanding.
</p>

<p itemprop="description", style="font-weight: bold;">Conference Scope</p>

<p>
 This year’s conference theme spans over two main directions:  “Towards Trustworthy Artificial Intelligence” and “Human-centric Artificial Intelligence”. With this focus, ISMIS2022 aims at contributing to emerging challenges relative to the development of robust, trustworthy AI systems capable of both “understanding” and “be understandable by” humans, adapting to complex real-world environments, and appropriately interacting in complex social settings. The increased relevance of areas such as autonomous driving, intelligent sales assistants, and strategic application domains such as medicine, intelligent maintenance, and eLearning require systems with high accuracy, robustness, accountability, fairness, transparency, interpretability and ethics. 
</p>

<p>
ISMIS 2022 is intended to attract individuals who are actively engaged both in theoretical and practical aspects of intelligent systems. The goal is to provide a platform for a useful exchange between theoreticians and practitioners, and to foster the cross-fertilization of ideas. Relevant conference topics include but are not limited to:
<br> Explainable AI (XAI)
<br> Machine Learning
<br> Deep learning
<br> Data Mining
<br> Recommender Systems
<br> Constraint-based systems
<br> Autonomous systems
<br> Applications (Configuration, Internet of Things, Financial Services, e-Health…)
<br> Intelligent user interfaces
<br> User Modeling
<br> Human computation
<br> Causality and Machine Learning
<br> Ethics and AI
<br> Socially-aware systems
<br> Digital libraries
<br> Intelligent Agents
<br> Information Retrieval
<br> Natural Language Processing
<br> Knowledge Integration
<br> Knowledge Visualization
<br> Knowledge Representation
<br> Soft Computing
<br> Web & Text Mining
</p>
