<h2 class="section-title">{{ .titles.committees }}</h2>

General Chair
- Alexander Felfernig, Graz University of Technology

Program Co-Chairs
- Denis Helic, Graz University of Technology 
- Gerhard Leitner, University of Klagenfurt 
- Martin Stettinger, Graz University of Technology

Steering Committee Chair
- Zbigniew Ras, University of North Carolina

Program Committee

- Henryk Rybiński, Warsaw University of Technology
- Stefano Ferilli, Universita’ di Bari
- Ruggero G. Pensa, University of Torino, Italy
- Antoni Ligeza, AGH University of Science and Technology
- Marharyta Aleksandrova, University of Luxembourg
- Yang Liu, Hong Kong Baptist University
- Corrado Loglisci, University of Bari
- Rory Lewis, University of Colorado at Colorado Springs
- Dominique Laurent, Université Cergy-Pontoise
- Hiroshi Sakai, Kyushu Institute of Technology
- Anita Raja, City University of New York
- Ingo Pill, Graz University of Technology
- Jacek Grekow, Bialystok Technical University
- Marcin Sydow, PJIIT and ICS PAS, Warsaw
- Roberto Corizzo, UNIBA
- Elisabeth Lex, Graz University of Technology
- Simon Walk, Graz University of Technology
- Luca Piovesan, DISIT, Università del Piemonte Orientale
- Andreas Falkner, Siemens AG Österreich
- Alois Haselboeck, Siemens AG
- Mirsad Hadzikadic, UNC Charlotte
- Esra Akbas, Oklahoma State University
- François Bry, Ludwig Maximilian University of Munich
- Pance Panov, Jozef Stefan Institute
- Andreas Holzinger, Medical University and Graz University of Technology
- Arunkumar Bagavathi, Oklahoma State University
- Nicola Fanizzi, Università degli studi di Bari “Aldo Moro”
- Mamoun Mardini, University of Florida
- Tiago Santos, Graz University of Technology
- Jan Paralic, Technical University Kosice
- Roxane Koitz, TU Graz
- Alicja Wieczorkowska, Polish-Japanese Academy of Information Technology
- Jean-Marc Petit, Université de Lyon, INSA Lyon
- Gloria Bordogna, National Research Council of Italy – CNR
- Christoph Schommer, University of Luxembourg
- Paolo Garza, Politecnico di Torino
- Saso Dzeroski, Jozef Stefan Institute
- Maria Bielikova,Slovak University of Technology in Bratislava
- Mieczysław Kłopotek, Polish Academy of Sciences
- Troels Andreasen, Roskilde University
- Bernhard Geiger 
- Nazha Selmaoui-Folcher, University of New Caledonia
- Jan Rauch, University of Economics, Prague
- Silvia Chiusano, Politecnico di Torino
- Yannis Manolopoulos, Open University of Cyprus
- Peter Dolog, Aalborg University
- Jaakko Hollmén, Aalto University
- Petr Berka, University of Economics, Prague
- Annalisa, Appice University Aldo Moro of Bari
- Marek Reformat, University of Alberta
- Henrique Lopes Cardoso, University of Porto
- Arkaitz Zubiaga Queen Mary, University of London
- Matthias Klusch, DFKI
- Dragi Kocev, Jozef Stefan Institute
- Martin Gebser, University of Klagenfurt
- Alfredo Cuzzocrea, ICAR-CNR and University of Calabria
- Robert Bembenik, Warsaw University of Technology
- Marian Scuturici, LIRIS-INSA de Lyon, France
- Dietmar Jannach, University of Klagenfurt
- Bozena Kostek, Gdansk Univ. of Technology
- Hakim Hacid, Zayed University
- Michelangelo, Ceci Universita degli Studi di Bari
- Mohand-Said Hacid, Université Claude Bernard Lyon 1 – UCBL
- Luigi Di Caro, University of Torino
- Dominik Slezak, University of Warsaw
- Naoki Fukuta, Shizuoka University
- Christoph F. Eick, University of Houston
- Michael Granitzer, University of Passau
- Jianhua Chen, Louisiana State University
- Martin Atzmueller, Tilburg University
- Katarzyna Tarnowska, San Jose State University
- Jerzy Błaszczyński, Poznań University of Technology
- Gerhard Friedrich, Alpen-Adria-Universitaet Klagenfurt
- João Mendes-Moreira, University of Porto
- Marcilio De Souto, LIFO/University of Orleans
- Lothar Hotz, University of Hamburg
- Stephan Doerfel, University of Kassel
- Andreas Hotho, University of Wuerzburg
- Roman Kern, Know-Center GmbH
- Jose Borges, University of Porto
- Giovanni Semeraro, University of Bari
- Tomi Männistö, University of Helsinki
- Jerzy Stefanowski, Poznan University of Technology, Poland
- Jiming Liu, Hong Kong Baptist University
- Herna Viktor, University of Ottawa
- Wlodek Zadrozny, UNC Charlotte
- Slawomir Zadrozny, Systems Research Institute, Polish Academy of Sciences
- Shoji Hirano, Shimane University
- Dejing Dou, University of Oregon
- Elio Masciari, ICAR-CNR
- Giuseppe Manco, ICAR-CNR
- Jure Zabkar, University of Ljubljana
- Agnieszka Mykowiecka, IPI PAN
- Donato Malerba, Università degli Studi di Bari “Aldo Moro”
- Allel Hadjali, LIAS/ENSMA
- Paola Mello, University of Bologna
- Luis Moreira-Matias, NEC Laboratories Europe
- Mirco Nanni, ISTI-CNR Pisa
- Olivier Pivert, IRISA-ENSSAT
- Małgorzata Marciniak, Institute of Computer Science PAS
- Tapio Elomaa, Tampere University of Technology
- Beata Zielosko, University of Silesia
- Yiyu Yao, University of Regina
- Marie-Jeanne Lesot, LIP6 – UPMC
- Urszula Stanczyk, Silesian University of Technology
- Ayman Hajja, College of Charleston
- Mikolaj Morzy, Poznan University of Technology
- Maria Ganzha, Warsaw University of Technology
- Lubos Popelinsky, Masaryk University
- Aijun An, York University
- David Wilson, UNC Charlotte
- Samira Shaikh, UNC Charlotte
- Ladjel Bellatreche, Poitiers University
- Amedeo Napoli, LORIA Nancy (CNRS – Inria – Université de Lorraine) France
- Adam Jatowt, Kyoto University
- Bernard Zenko, Jozef Stefan Institute

Steering Commitee Members
- Troels Andreasen, Roskilde University, Roskilde, Denmark 
- Annalisa Appice, Universita degli Studi di Bari, Italy 
- Jaime Carbonell, CMU, USA 
- Michelangelo Ceci, Universita degli Studi di Bari, Italy 
- Henning Christiansen, Roskilde University, Roskilde, Denmark 
- Juan Carlos Cubero, University of Granada, Granada, Spain 
- Floriana Esposito, Universita degli Studi di Bari, Italy 
- Alexander Felfernig, Graz University of Technology, Austria 
- Mohand-Said Hacid, Université Claude Bernard Lyon 1, France 
- Nathalie Japkowicz, American University, USA 
- Marzena Kryszkiewicz, Warsaw University of Technology, Poland 
- Jiming Liu, Hong Kong Baptist University, Hong Kong 
- Jerzy Pawel Nowacki, Polish-Japanese Academy of IT, Warsaw, Poland 
- George A. Papadopoulos, University of Cyprus, Cyprus 
- Olivier Pivert, Université Rennes 1, France 
- Zbigniew Ras, UNC-Charlotte, USA & Polish-Japanese Academy of IT, Poland 
- Henryk Rybinski, Warsaw University of Technology, Poland 
- Andrzej Skowron, Polish Academy of Sciences, Warsaw, Poland 
- Dominik Slezak, University of Warsaw, Poland

Publicity Chair
- Müslüm Atas, Graz University of Technology

Publication Chair
- Trang Tran, Graz University of Technology

Web & Local Committee
- Jörg Baumann, Graz University of Technology 
- Elisabeth Orthofer, Graz University of Technology 
- Petra Schindler, Graz University of Technology
