<h2 class="section-title">{{ .titles.committees }}</h2>

<p class="ex1">General Chair</p>
<ul>
  <li>Giuseppe Manco, ICAR-CNR</li>
</ul>

<p class="ex1">Program Co-Chairs</p>
<ul>
  <li>Michelangelo Ceci</li>
  <li>Elio Masciari</li>
  <li>Sergio Flesca</li>
</ul>

<p class="ex1">Steering Committee Chair</p>
<ul>
  <li>Zbigniew Ras, University of North Carolina</li>
</ul>

<p class="ex1">Program Committee</p>
<ul>
  <li>To Be Announced (TBA)</li>
</ul>


<p class="ex1">Steering Commitee Members</p>
<ul>
  <li>Annalisa Appice, Università degli Studi di Bari, Italy</li>
  <li>Michelangelo Ceci, Università degli Studi di Bari, Italy</li>
  <li>Alexander Felfernig, Graz University of Technology, Austria</li>
  <li>Mohand-Said Hacid, Université Claude Bernard Lyon 1, France</li>
  <li>Denis Helic, Graz University of Technology, Austria</li>
  <li>Nathalie Japkowicz, American University, USA</li>
  <li>Marzena Kryszkiewicz, Warsaw University of Technology, Poland</li>
  <li>Gerhard Leitner, University of Klagenfurt, Austria</li>
  <li>Jiming Liu, Hong Kong Baptist University, Hong Kong</li>
  <li>Zbigniew Ras, UNC-Charlotte, USA and Polish-Japanese Academy of IT, Poland</li>
  <li>Henryk Rybinski, Warsaw University of Technology, Poland</li>
  <li>Andrzej Skowron, Polish Academy of Sciences, Warsaw, Poland</li>
  <li>Dominik Slezak, University of Warsaw, Poland</li>
  <li>Martin Stettinger, Graz University of Technology, Austria</li>
</ul>


<p class="ex1">Web and Social Media Chair</p>
<ul>
  <li>Marco Minici, Università di Pisa, Italy</li>
</ul>

<p class="ex1">Publication Chair</p>
<ul>
  <li>Gianvito Pio/Paolo Mignone</li>
</ul>

<p class="ex1">Local Committee chairs</p>
<ul>
  <li>Ettore Ritacco</li>
  <li>Bettina Fazzinga</li>
</ul>
