<h2 class="section-title">{{ .titles.committees }}</h2>

<p>
  <strong>General Chair</strong>
  <br> Giuseppe Manco, ICAR-CNR, Italy
</p>



<p>
  <strong>Program Co-Chairs</strong>
  <br> Michelangelo Ceci, Università degli Studi di Bari, Italy 
  <br> Elio Masciari, Università Federico II di Napoli, Italy 
  <br> Sergio Flesca, Università degli Studi della Calabria, Italy
</p>


<p>
  <strong>Steering Committee Chair</strong>
   <br> Zbigniew Ras, University of North Carolina, Charlotte, USA & Polish-Japanese Academy of IT, Warsaw, Poland
</p>

<p>
  <strong>Program Committee</strong>
   <br> To Be Announced (TBA)
</p>

<p>
  <strong>Steering Commitee Members</strong>
   <br> Annalisa Appice, Università degli Studi di Bari, Italy
  <br> Michelangelo Ceci, Università degli Studi di Bari, Italy
  <br> Alexander Felfernig, Graz University of Technology, Austria
  <br> Mohand-Said Hacid, Université Claude Bernard Lyon 1, France
  <br> Denis Helic, Graz University of Technology, Austria
  <br> Nathalie Japkowicz, American University, USA
  <br> Marzena Kryszkiewicz, Warsaw University of Technology, Poland
  <br> Gerhard Leitner, University of Klagenfurt, Austria
  <br> Jiming Liu, Hong Kong Baptist University, Hong Kong
  <br> Henryk Rybinski, Warsaw University of Technology, Poland
  <br> Andrzej Skowron, Polish Academy of Sciences, Warsaw, Poland
  <br> Dominik Slezak, University of Warsaw, Polan
  <br> Martin Stettinger, Graz University of Technology, Austria
</p>

<p>
  <strong>Web and Social Media Chair</strong>
   <br> Marco Minici, Università di Pisa, Italy
</p>

<p>
  <strong>Publication Chair</strong>
   <br> Paolo Mignone, Università degli Studi di Bari, Italy
</p>

<p>
  <strong>Local Committee Chairs</strong>
   <br> Ettore Ritacco, ICAR-CNR, Italy
   <br> Bettina Fazzinga, Università degli Studi della Calabria, Italy
</p>

