<h2 class="section-title">{{ .titles.industry }}</h2>

<p>
  We invite you to submit papers to the ISMIS’2022 Industry Session. The session is part of the ISMIS 2022 conference, which will be organized as an online event on Oct 3rd – 5th, 2022.
</p>
<br>

<p>
  <strong>SCOPE AND OBJECTIVES</strong>
 <br> The session will be devoted to the applications of various intelligent methods, algorithms, and tools related to Artificial Intelligence in industry. The aim of this session is to create a forum for exchange of ideas between the leading researchers and industry practitioners. Submissions should address practical problems and/or business applications and should be innovative. Architectures, tools, and practical implementations related to the topics described below are also of interest to this session.
</p>

<p>
  <strong>TOPICS OF INTEREST</strong>
<br> Topics of interest include (but are not limited to) the following:
  <br> Applications of Intelligent Information Systems
  <br> Big Data
  <br> Cloud Computing
  <br> Context-aware Computing
  <br> Exploratory Data Analysis
  <br> Knowledge Discovery and Data Mining
  <br> Knowledge Visualization
  <br> Social Networks
  <br> Medical Applications and Bioinformatics
  <br> Mobile Applications and Collaborative Mobile Space
  <br> New Approaches to Database and Knowledge Management Systems
  <br> Medical Applications and Bioinformatics
  <br> Recommendation Systems
  <br> Spatial Data Analysis
  <br> Web Technologies
</p>

<p>
  <strong>PAPER SUBMISSIONS</strong>
  <br> Authors are invited to submit original unpublished papers that demonstrate current research on one of the session topics of interest. Papers should be prepared in PDF using the Springer LNCS/LNAI style (8-15 pages). All submitted papers will be reviewed by the members of the ISMIS PC. Industry session papers should be submitted in PDF form via ISMIS 2022 Online Submission System.
</p>

<p>
  <strong>PUBLICATIONS OF PAPERS</strong>
  <br> Accepted papers will be published in the edited post-conference book published in the Springer Series Studies in Computational Intelligence [https://www.springer.com/series/7092]
  <br> The template for the camera-ready version can be found here.
</p>

<p>
  <strong>IMPORTANT DATES</strong>
  <br> Paper submission due: June 10, 2022
  <br> Notification of review results: July 8, 2022
  <br> Camera ready papers due: July 29, 2022
  <br> Author registration/payment deadline: July, 29, 2022
  <br> Non-author registration/payment deadline: Aug. 26, 2022
  <br> Non-author late registration/payment deadline: Sep. 5th, 2022
  <br> ISMIS’2022 conference date (online event): Oct 3-5, 2022
</p>

 <p>
  <strong>INDUSTRY SESSION CO-CHAIRS</strong>
  <br> Luciano Caroprese
  <br> Massimo Ruffolo
  <br> Fabio Fumarola
</p>


