<h2 class="section-title">{{ .titles.industry }}</h2>

<p>
  We invite you to submit papers to the ISMIS’2022 Industry Session. The session is part of the ISMIS 2022 conference, which will be organized as an online event on Oct 3rd – 5th, 2022.
</p>
<br>
<p class="ex1" style="font-weight: bold;">SCOPE AND OBJECTIVES</p>
  <p>
 The session will be devoted to the applications of various intelligent methods, algorithms, and tools related to Artificial Intelligence in industry. The aim of this session is to create a forum for exchange of ideas between the leading researchers and industry practitioners. Submissions should address practical problems and/or business applications and should be innovative. Architectures, tools, and practical implementations related to the topics described below are also of interest to this session.
 </p>
  
<p class="ex1" style="font-weight: bold;">TOPICS OF INTEREST</p>
<p>
Topics of interest include (but are not limited to) the following:
</p>  


<ul>
  <li>Applications of Intelligent Information Systems</li>
  <li>Big Data</li>
  <li>Cloud Computing</li>
  <li>Context-aware Computing</li>
  <li>Exploratory Data Analysis</li>
  <li>Knowledge Discovery and Data Mining</li>
  <li>Knowledge Visualization</li>
  <li>Social Networks</li>
  <li>Medical Applications and Bioinformatics</li>
  <li>Mobile Applications and Collaborative Mobile Spaces</li>
  <li>New Approaches to Database and Knowledge Management Systems</li>
  <li>Medical Applications and Bioinformatics</li>
  <li>Recommendation Systems</li>
  <li>Spatial Data Analysis</li>
  <li>Web Technologies</li>
</ul>



<br>   
<p class="ex1" style="font-weight: bold;">PAPER SUBMISSIONS</p>
<p>Authors are invited to submit original unpublished papers that demonstrate current research on one of the session topics of interest. Papers should be prepared in PDF using the Springer LNCS/LNAI style (8-15 pages). All submitted papers will be reviewed by the members of the ISMIS PC. Industry session papers should be submitted in PDF form via ISMIS 2022 Online Submission System.
</p>
  <br>
<p class="ex1" style="font-weight: bold;">PUBLICATIONS OF PAPERS</p>
<p>Accepted papers will be published in the edited post-conference book published in the Springer Series Studies in Computational Intelligence [https://www.springer.com/series/7092]

  The template for the camera-ready version can be found here.
</p>  
<br>
 <p class="ex1" style="font-weight: bold;">IMPORTANT DATES</p>
<ul>
  <li>Paper submission due: June 10, 2022</li>
  <li>Notification of review results: July 8, 2022</li>
  <li>Camera ready papers due: July 29, 2022</li>
  <li>Author registration/payment deadline: July, 29, 2022</li>
  <li>Non-author registration/payment deadline: Aug. 26, 2022</li>
  <li>Non-author late registration/payment deadline: Sep. 5th, 2022</li>
  <li>ISMIS’2022 conference date (online event): Oct 3-5, 2022</li>
</ul>  
<br>
 <p class="ex1" style="font-weight: bold;">INDUSTRY SESSION CO-CHAIRS</p>
 <ul>
  <li>Luciano Caroprese</li>
  <li>Massimo Ruffolo</li>
  <li>Fabio Fumarola</li>
</ul>   


